.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    font-size: 1rem;
}

.list {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    flex-wrap: wrap;
}

.title {
    font-size: 2rem;
    font-family: var(--heading-font);
    margin-bottom: 1rem;
}

.text {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
}

.method {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    font-family: var(--heading-font);
    color: #383535;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.method:hover {
    transform: translateY(-10px);
}

.image {
    margin-bottom: 2rem;
    height: 15rem;
    width: 17rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}