.blackContainer {
    display: flex;
    background-image: url('../../../../public/img/imgParallaxAbout.jpeg');
    height: 100vh;
    justify-content: space-around;
    align-items: self-end;
    color: aliceblue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textContainer {
    height: 10rem;
    justify-content: space-around;
}

.horizontalLine {
    height: 5%;
    width: 15%;
    border-bottom: 0.5px white solid;
}