.header {
    display: flex;
    justify-content: center;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    margin: 0 2rem;
}

.logo {
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.burgerMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2.5rem;
    margin: 4px 0;
    border: none;
    transition: 0.4s;
    background-color: gray;
    font-size: 2.2rem;

}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navItem a {
    text-decoration: none;
    color: white;
    padding: 2rem 3rem;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro con opacidad */
    border-radius: 4px;
    transition: background 0.3s ease;
}

.specialItem a {
    background: rgba(255, 255, 255, 0.5);
    /* Fondo claro con opacidad */
    color: black;
}

.navItem a:hover {
    background: rgba(0, 0, 0, 0.8);
    /* Aumenta la opacidad al pasar el ratón */
}

.specialItem a:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(66, 66, 66, 0.641);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .showMenu {
        display: flex;
        /* Muestra el menú cuando se hace clic */
    }

    .burgerMenu {
        display: flex;
        /* Muestra el ícono de menú en móviles */
    }

    .navList {
        flex-direction: column;
        gap: 5rem;
    }
}