.footer {
    background-color: lightgrey;
    box-shadow: 0px -30px 20px -5px rgba(211, 211, 211, 0.90);
}

.lblfooter {
    margin-inline: 5rem;
    padding-top: 1rem;
    border-top: black 1.5px solid;
}

.lblfooter .itemsFooter {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

.item {
    list-style: none;
}

.item {
    margin-block: 1rem;
}

.privacity {
    margin-top: 4rem;
}