.mainParallax {
    height: 47rem;
    background-image: url('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2023/02/diferencia-mar-oceano-2967842.jpg?tf=3840x');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textParallax {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    position: absolute;
    bottom: 15rem;
    left: 1.5rem;
}

/* PANTALLAS 4K */
@media screen 
  and (min-device-width: 140em) {
    .mainParallax {
        height: 90rem;
    }
    .textParallax {
        font-size: 2rem;
        bottom: 30rem;
        left: 10rem;
    }
}

/* PANTALLAS GRANDES */
@media screen 
  and (min-device-width: 100em)
  and (max-device-width: 140em) {
    .mainParallax {
        height: 70rem;
    }
    .textParallax {
        font-size: 2rem;
        bottom: 20rem;
        left: 0rem;
    }
}

/* LAPTOPS PEQUEÑAS */
@media screen 
  and (min-device-width: 62em)
  and (max-device-width: 82em) {
    .textParallax {
        font-size: 1.5rem;
        bottom: 25vh;
        left: 0vw;
        text-align: center;
    }
}

/* TABLETS */
@media screen
  and (min-device-width: 43em) 
  and (max-device-width: 62em) {
    .mainParallax {
        height: 50rem;
        width: 100%;
    }
    .textParallax {
        font-size: 1.2rem;
        bottom: 25vh;
        left: 0vw;
        text-align: center;
    }
}

/* CELULARES */
@media screen 
  and (min-device-width: 20em)
  and (max-device-width: 43em) {
    .mainParallax {
        height: 45rem;
        width: 100%;
    }
    .textParallax {
        width: 100%;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 35vh;
        left: 0vw;
    }
}